.intro-container {
  @include outer-container(100%);
  @include clearfix;
  background-color: $bright-purple;
  color: $white;
  height: 59px;
  line-height: 59px;
  text-align: center;

  a {
    color: $white;
    text-decoration: none;

    &:hover {
      @include transition-duration(.5s);
      color: $based-gold;
    }
  }

  h1 {
    @include span-columns(2, block);
    float: left;
    font-size: 2em;
    margin: 0;
  }

  nav {
    @include span-columns(10, block);
    float: left;
    height: 100%;
    padding-top: .3em;
    text-align: right;
    vertical-align: bottom;

    ul {
      height: 100%;
      margin: 0;
      padding: 0;


      li {
        background: transparent;
        display: inline;
        width: auto;

      }

      a {
        display: inline-block;
      }
    }
  }
}
