.review-container {
  @include outer-container(95%);
  margin-top: 10px;

  .image-title-container {
    @include span-columns(6, block);
    align-items: center;
    display: flex;
    height: 465px;
    justify-content: flex-end;

    h2 {
      font-size: 4em;
      font-weight: lighter;
    }
  }

  .image-container {
    @include span-columns(6, block);
    @include omega;

    figure {
      width: 400px;
    }

    img {
      height: 400px;
      margin: auto;
      width: 100%;
    }

    figcaption {
      text-align: center;
    }
  }

  .review-abstract {
    @include span-columns(6, block);
    @include shift(3);
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    font-weight: 700;
  }

  .review-body {
    @include span-columns(6, block);
    @include shift(3);
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
  }
}
