.review-container {
  @include outer-container(55%);
  background-color: $white;
  margin-top: 40px;

  .image-title-container {
    @include span-columns(6, block);
    align-items: center;
    display: flex;
    height: 465px;
    justify-content: flex-end;
    text-align: center;

    h2 {
      font-size: 4em;
      font-weight: lighter;

      span {
        @include padding(null 20px null 20px);
        border: solid 5px $based-gold;
        border-radius: 50%;
      }
    }
  }

  .image-container {
    @include span-columns(6, block);
    @include omega;

    figure {
      width: 400px;
    }

    img {
      height: 400px;
      margin: auto;
      width: 100%;
    }

    figcaption {
      text-align: center;
    }
  }

  .review-abstract {
    @include span-columns(8, block);
    @include shift(2);
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    font-weight: 700;
  }

  .review-body {
    @include span-columns(8, block);
    @include shift(2);
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
  }
}
