.review-scale-container {
  @include outer-container(60%);
  background-color: $white;
  text-align: center;
  margin-top: 40px;

  h2 {
    @include margin(0 auto 0 auto);
  }

  p {
    @include span-columns(12, block);
    font-size: 1.2em;

    span {
      color: $based-gold;
    }
  }
}
