.review-list-container {
  @include media($mobile) {
    @include outer-container(100%);
    margin-top: 0;

    .title {
      margin-bottom: 0;
    }

    .review-scale-link {
      font-size: 1em;
      margin-bottom: 5px;
    }

    .review {
      @include span-columns(2, block);
      @include shift(0);
    }
  }

}
