.review-container {
  @include media($mobile) {
    @include outer-container(100%);
    margin-top: 0;

    .image-title-container {
      @include span-columns(4, block);
      height: auto;

      h2 {
        font-size: 2em;
        text-align: center;
      }
    }

    .image-container {
      @include span-columns(4, block);

      figure {
        width: auto;

        img {
          height: auto;
          width: 100%;
        }
      }
    }

    .review-abstract {
      @include span-columns(3.7, block);
      @include shift(.15);
      font-size: 1.5em;
    }

    .review-body {
      @include span-columns(3.7, block);
      @include shift(.15);
      font-size: 1.2em;
    }
  }
}
