@import 'utils/bourbon/bourbon';
@import 'utils/neat/neat';
@import 'utils/variables';
@import 'components/Home';
@import 'components/Intro';
@import 'components/Review';
@import 'components/ReviewList';
@import 'components/ReviewScale';
@import 'components/mobile/Intro';
@import 'components/mobile/Review';
@import 'components/mobile/ReviewList';
@import 'components/mobile/ReviewScale';

html {
  height: 100%;
}

body {
  background-color: rgba(208, 38, 206, .1);
  font-family: 'Baloo Thambi', cursive;
  margin: 0;
  min-height: 100%;
  padding: 0;
}
